seed: 42
project_name: "PlantVillage-Baseline"
task_name: "scratch-cnn-baseline"
tags: ["baseline", "scratch", "subset25"]
device: "cuda" 

data:
  dataset_name: "DScomp380/plant_village"
  data_dir: "/kaggle/input/plantvillage-dataset"  # Change to your path
  modalities: ["color", "grayscale", "segmented"]
  image_size: 256
  subset_fraction: 0.25
  val_size: 0.15
  test_size: 0.15
  num_workers: 4
  normalize: true
  augment: false
  
  # Class imbalance handling
  balance_strategy: null  # Options: null, "uniform", "weighted_sampler", "weighted_loss"
  # - null: no balancing
  # - "uniform": downsample all classes to smallest class size
  # - "weighted_sampler": use WeightedRandomSampler during training
  # - "weighted_loss": use class weights in loss function


model:
  channels: [32, 64, 128]  # conv blocks widths
  dropout: 0.2
  use_batchnorm: true

train:
  epochs: 30
  batch_size: 64
  optimizer: "adamw"
  lr: 0.001         
  weight_decay: 0.0001
  patience: 3        # early stopping patience

clearml:
  enabled: true
  project: "KCL-PlantVillage"
  task_name: "baseline-scratch"
  output_uri: null
