name: CI

on:
  push:
    branches: [ "main" ]

  pull_request:
    branches: [ main, dev ]

  workflow_dispatch:

jobs:

  checks:

    runs-on: self-hosted # removed ubuntu-latest to run checks on local device.

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v5
        with:
            python-version: "3.11"


      - name: Install pre-commit and run checks
        run: |
          python -m pip install --upgrade pip pre-commit
          pre-commit install
          pre-commit run --all-files

      - name: Run pytests
        run: |
          pip install pytest
          pytest -q
