name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ main, dev ]
  workflow_dispatch:

jobs:
  checks:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"


      - name: Check Python version
        run: python --version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pre-commit pytest

      - name: Run pre-commit checks
        run: |
          pre-commit run --all-files --show-diff-on-failure

      - name: Run pytest
        run: pytest -q
